.page {
	min-height: 800px;
}
/* clearfix 自清除浮动属性 */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* 页脚的法律细则 */
.legal, .legal a { 
	line-height: 1.45;
	font-family: arial;
	font-size: .8em;
	color:#888;
	text-decoration:none;
}
.legal {
	text-align: center;
	padding: .125em 0;
}


